## --- Visual Studio & .NET ---
[Bb]in/
[Oo]bj/
Visual Studio 2017/
.vs/
TestResults/
*.suo
*.user
*.userosscache
*.sln.docstates

## --- Publicación y Paquetes ---
publish/
*.pfx
*.publishsettings
node_modules/

## --- Archivos de Configuración (SEGURIDAD) ---
appsettings.json
appsettings.Development.json


## --- Otros ---
*.log
.DS_Store